:root {
  --color-fondo: #c2e7da;
  --color-targeta: #6290c3;
  --color-letra: #660000;
  --color-tick: #006600;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}
.cabecera p {
  font-size: 12px;
}
.cabecera p,
h1,
h2 {
  font-weight: 200;
}
.main-container {
  background-color: var(--color-fondo);
}
.contenido-caja {
  background-color: var(--color-targeta);
}
.circle {
  background-color: var(--color-letra);
}
