:root {
  --color-fondo: #c2e7da;
  --color-targeta: #6290c3;
  --color-letra: #660000;
  --color-tick: #006600;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 23px;
}
.cabecera p {
  font-size: 12px;
}
.cabecera p,
h1,
h2 {
  font-weight: 200;
}
.main-container {
  background-color: var(--color-fondo);
  height: 100vh;
}
.contenido-caja {
  background-color: var(--color-targeta);
  height: 200px;
  margin: 30px 0;
  border-radius: 40px;
  border: 2px solid #fff;
}
.circle {
  background-color: var(--color-letra);
}
.contenido-principal {
  margin: 30px 200px;
}
