:root {
  --color-fondo: #c2e7da;
  --color-targeta: #6290c3;
  --color-letra: #660000;
  --color-tick: #006600;
}
.main-container {
  background-color: var(--color-fondo);
}
.contenido-caja {
  background-color: var(--color-targeta);
}
.circle {
  background-color: var(--color-letra);
}
